$color-brand: #f28e16;
@import "~taro-ui/dist/style/components/fab.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/action-sheet.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .container__cover {
    width: 200rpx;
    height: 200rpx;
  }
  .container__divider {
    width: 700rpx;
  }
  .container__card {
    width: 700rpx;
    margin: 50rpx 0;
    .at-card__content {
      position: relative;
      min-height: 20rpx;
    }
  }
  .float-button {
    position: fixed;
    bottom: 50rpx;
    right: 50rpx;
    .sheet__item {
      position: relative;
    }
  }
  .share {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    opacity: 0;
  }
}

.way__container {
  width: 700rpx;
  .way__account {
    margin-bottom: 20rpx;
  }
  .way__account,
  .way__pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rpx;
    border-bottom: 2rpx solid #eee;
    .way__account-icon {
      width: 130rpx;
      height: 130rpx;
    }
    .way__account-text,
    .way__pass-text {
      flex: 1;
      padding: 0 30rpx;
      font-size: 34rpx;
      font-weight: 500;
      color: #0081ff;
    }
    .way__pass-tip {
      color: #f00;
      font-size: 28rpx;
    }
  }
}
